#settles{max-width: 1024px; margin: 0 auto; position: relative;}

.ststst{ position: sticky; top: 0; z-index: 10; background-color: #ffffff;}
.buyer{width: 100%;  overflow: hidden;  }
.buyer h3{float: left; margin: 0; font-size: 20px;}
.buyer p{float: right;}

.buu-wrap{margin: 0px 50px; padding: 10px 0 5px 0; border-bottom: 1px solid #cbc8c8;position: relative; }

.set-main{overflow: hidden; padding: 50px 50px; display: flex; flex-direction: column; justify-content: center; align-items: start; gap: 30px;}
.set-main h4{font-size: 22px; font-weight: 600;}
.address-select{width: 50%;}
.address-select .a-box{margin: 0 0 20px 0; font-weight: 600; border: 1px solid #86868b; border-radius: 12px;  width: 100%; display: flex; flex-direction: column; align-items: start; justify-content: center; padding: 15px 15px 15px 15px; text-align: left; min-height: 4.88rem; cursor: pointer;}
.address-select .a-box p{margin: 10px 0; font-size: 15px;}
.info-select{width: 50%;}
.info-select2{width: 100%;}

/* .info-select .b-box p{margin: 0px 0; transition: all 0.4s ease-in-out; position: absolute; transition-duration: .125s; top: 1.05rem; left: 1rem;} */
.address-select input[type='submit']{background-color: #0071e3; color: #ffffff;  border: none; border-radius: 12px; font-size: 15px; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 15px 15px 15px 15px; text-align: center; min-height: 4.88rem; cursor: pointer;}
.clac{display: none;}
.info-select .bt-box { 
    margin: 0 0 10px 0; 
    font-weight: 500; 
    border: 1px solid #86868b; 
    border-radius: 12px; 
    width: 100%; 
    padding: 26px 16px 0px 15px; 
    text-align: left; 
    height: 6rem; 
    cursor: text; 
    position: relative;  
    line-height: 1.5; 
    box-sizing: border-box; 
}
.info-select2 .bt-box { 
    margin: 0 0 10px 0; 
    font-weight: 500; 
    border: 1px solid #86868b; 
    border-radius: 12px; 
    width: 100%; 
    padding: 26px 16px 0px 15px; 
    text-align: left; 
    height: 6rem; 
    cursor: text; 
    position: relative;  
    line-height: 1.5; 
    box-sizing: border-box; 
}

.bt-box input { 
    margin-bottom: 3px; 
    background: none; 
    font-size: 17px; 
    position: relative; 
    z-index: 5; 
    width: 100%; 
    border: none; 
    padding: 0; 
}


.bt-box input:focus { 
    outline: none; 
}

.nowad input:focus ~ .em, 
.bt-box input:valid ~ .em, 
.nowad input:valid ~ .em { 
    font-size: 11px; 
    bottom: 26px; 
    left: 15px; 
}
/* .b-box input:focus +p{top: 0; font-size: 10px;} */

.em{position: absolute; left: 15px; font-size: 15px; bottom: 14px; transition: all .2s; font-weight: 500;}
.em1{position: absolute; left: 15px; font-size: 15px; bottom: 14px; transition: all .2s; font-weight: 500;}

.choi {
    border-color: #0071e3; 
}

.new-address{ margin-top: 35px; overflow: hidden; height: 0px; width: 100%; display: flex; flex-direction: column; justify-content: start; align-items: start; gap: 20px; transition: height 0.3s ease-in-out; }
.roow{ width: 100%; display: flex; flex-direction: row; justify-content: start; align-items: start; gap: 13px;}
.sssdsd{
  top: 18px;   
} 

.bt-box select:valid ~ .em  { 
    font-size: 11px; 
    bottom: 25px; 
    left: 15px; 
}
.bt-box select:valid { 
    opacity: 1;
}
.bt-box select {
    margin-bottom: 3px;
    background: none;
    font-size: 17px;
    position: relative;
    z-index: 4;
    width: 100%;
    border: none;
    padding: 0;
  }
  
  .bt-box select:focus {
    outline: none;
  }

  select::-ms-expand { 
	display: none;
}
select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.icco{position: absolute; bottom: 18px; right: 14px;}
.icco i{font-size: 13px; font-weight: 200; color: #86868b;}



.bt-box select {
    width: 100%; 
    
    line-height: normal;  /* line-height 초기화 */
    font-family: inherit;  
    
    border: 0;
    opacity: 0;  
    filter:alpha(opacity=0);  
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    transition: opacity 0.1s ease-in-out;

    cursor: pointer;
  }
  .reads{margin: 0 0 10px 0;}
 .nowad {position: relative; padding: 0;  margin: 0 0 0px 0; font-weight: 600;  border-radius: 12px;  width: 100%; display: flex; flex-direction: column; align-items: start; justify-content: center;  text-align: left; min-height: 4.88rem; cursor: pointer;}
 .nowad p{font-size: 15px; display: block; position: absolute; left: 15px; top: 30px;}
.nowad input[type='radio']{cursor: pointer; outline: none; margin: 0; width: 100%; height: 80px; background-color: #ffffff; border: 1px solid #86868b; appearance: none; border-radius: 12px; }
.nowad input[type='text']{padding: 20px 15px 0px 15px; cursor: text; outline: none; margin: 0; width: 100%; height: 60px; background-color: #ffffff; border: 1px solid #86868b; appearance: none; border-radius: 12px; font-size: 16px; font-weight: 500; text-decoration: none;}
.nowad input:checked, .nowad input:focus{ border-color: #0071e3; border-width: 2px;}

.real-or{position: relative;}
.or-cont{position: absolute; top: 150px; right: 100px; width: 350px;}
.or-cont li{list-style: disc; margin: 5px 0;}


.marbot{margin-bottom: 20px;}


  .inac{display: block; font-size: 12px; color: #e30000; margin-top: 5px; }
  
  
  
  .pay{position: absolute; top: 28px; left: 100px; width: 65px;}
 