:root {
    --primary: #111926;
    --white: #fff;
    --background: #F8F8FF;
    --gray: #D3D3D3;
    --text: #262626;
    --like: #FF3040;
}

/* .body5 {
    display: flex;
    background-color: var(--background);
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    padding: 1rem;
} */


.card {
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    display: flex;
    width: 390px;
    height: 500px;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px;
    transform: scale(1.008);
}

.card__preview {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.card__preview2 {
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card__preview img {
    width: 100%;
    object-fit: cover;
    /* transition: all 0.4s ease-out; */
}

.card:hover .card__preview img {
    /* transform: scale(1.35); */
}

.card__address {
    margin-top: 0.5rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1rem;
}

.card__price {
    background-color: var(--white);
    color: #BF4800;
    z-index: 1;
    position: absolute;
    bottom: 25.75rem;;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    left: 1.25rem;
    font-weight: bold;
}

.card__content {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    color: var(--text);
}

.card__bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__description {
    margin-top: 0.5rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.card__buttons {
    display: flex;
    gap: 0.5rem;
}

.card__btn {
    border: none;
    background-color: transparent;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__btn svg {
    height: 2rem;
    width: 2rem;
    stroke: var(--text);
    stroke-width: 1.5px;
}

.card__btn--like svg {
    stroke: var(--like);
    fill: var(--like);
}

.bid-buttons2{width: 85px; height: 35px; }
#bbt_store{text-align: center; line-height: 1.28577;  min-height: 30px; font-weight: 400; transition: border-color 0.3s; box-sizing: border-box;  
    font-size: 14px; border-radius: 980px; border: 1px solid transparent; background-color: #0071E3; cursor: pointer; color: #fff;
    letter-spacing: -.016em; padding: 7px 13px;} 
 
#bbt_store:hover{ border-color: #3498db; } 

.card__title{
    font-size: 26px; font-weight: 600; letter-spacing: .007em;
}
.card__title2{
    font-size: 20px; font-weight: 600; letter-spacing: .007em; color: #86868b;
}